Source: wait4it
Section: misc
Priority: optional
Maintainer: Farshad Nematdoust <farshad@nematdoust.com>
Build-Depends: debhelper (>= 11),
               golang-go (>= 1.15)
Vcs-Browser: https://github.com/ph4r5h4d/wait4it.git
Vcs-Git: https://github.com/ph4r5h4d/wait4it.git
Homepage: https://github.com/ph4r5h4d/wait4it
Standards-Version: 4.1.4

Package: wait4it
Architecture: amd64
Description: Check if a service available
 Simple go application to test whether a port is ready to
 accept a connection or check MySQL, PostgreSQL,
 MongoDB or Redis server is ready or not, Also you can do
 Http call and check the response code and text in response.
 It also supports timeout so it can wait for a particular time and then fail.
